*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, darkblue, rgb(1, 95, 127));
}
.head{
    position: relative;
    top: -300px;
    left: 278px;
    font-size: 20px;
}
.Calculator{
    border: 2px solid rgb(0, 0, 82);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(9, 9, 0, 1);
}
input{
    width: 320px;
    border: none;
    padding: 25px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0 0 20px rgb(35, 35, 31);
    border-radius: 9px;
    color: white;
    font-size: 24px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
input:focus{
    outline: none;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: -0 -0 20px rgb(117, 83, 242);
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.btn{
    color: rgb(255, 145, 0)
}
.btn-equal{
    background-color: rgb(0, 255, 136);
    color: black;
}
button:hover{
    box-shadow: 0 -0 25px rgb(255, 255, 255);
}
